#vacation1 , #vacation2, #vacation3, #vacation4 {
  display: none;
}

#btn-tryagain {
  display: none;
}

body {
  background-color: #999;
}

.container {
  box-sizing: border-box;</div>
}

.jumbotron {
  background-color: #333;
}

.jumbotron h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  color: white;
}

#vacationideas {
  font-weight: bold;
}

.form-control {
  width: 100%;
}

.thumbnail {
  background-color: #333;
}
.choices h3 {
  text-align: center;
  font-weight: bold;
  color: #000;
}

#btn-tryagain {
  align-self: center;
}
